<div class="pull-right">
  <%= link_to("Say U Story", new_story_path, :class => "btn btn-default" ) %>
</div>

<table class="table table-bordered">
  <thead>
      <tr>
          <td>故事</td>
          <td>设置</td>
          <td>时间</td>
      </tr>

  </thead>
  <% @stories.each do |story| %>
  <tr>
    <td>
      <%= link_to(story.title, story_path(story)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_story_path(story)) %> |
      <%= link_to("Destroy", story_path(story), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= story.created_at %>
    </td>
  </tr>
  <% end %>
</table>
